002 - Deep Learning and Applications/002 - Convolutional Neural Networks/cifar10-augmentation/aug_model.weights.best.hdf5
002 - Deep Learning and Applications/004 - Intro to TensorFlow/notMNIST_train.zip
002 - Deep Learning and Applications/004 - Intro to TensorFlow/notMNIST_test.zip
002 - Deep Learning and Applications/004 - Intro to TensorFlow/notMNIST.pickle
002 - Deep Learning and Applications/002 - Convolutional Neural Networks/mnist-mlp/mnist.model.best.hdf5
002 - Deep Learning and Applications/002 - Convolutional Neural Networks/cifar10-classification/model.weights.best.hdf5
002 - Deep Learning and Applications/002 - Convolutional Neural Networks/cifar10-classification/MLP.weights.best.hdf5
002 - Deep Learning and Applications/003 - Dog Breed Classifier - Project/bottleneck_features/DogResnet50Data.npz
003 - Natural Language Processing/Speech and Language Processing - An Introduction to Natural Language Processing, Computational Linguistics, and Speech Recognition [Daniel Jurafsky, James H. Martin].pdf
C:\Users\axel.bravo.mutllo\Documents\GitHub\uc_aind\003 - Natural Language Processing\003 - Text Processing\data\*